body{
    font-family:'Open Sans Condensed';
    padding: 20px 60px;
}

a,a:link,a:visited {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

*,*::after,*::before{
    box-sizing: border-box;
}